/***
*---1. Design System
*---1.1  button setting
*---2. Adjusted BootStrap CSS (from attached css file in ./css, not in cdn)
***/
body{
  font-family: Inter;
}

h1, h2, h3, h4, h5{
  font-weight: 700;
}

.lg-hero, .md-hero, .sm-hero .hero{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.lg-h2, .md-h2, .sm-h2, .h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.lg-h3, .md-h3, .sm-h3, .h3{
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.lg-h4, .md-h4, .sm-h4, .h4{
  font-size: 22px;
  font-weight: 700;
}

.lg-h5, .md-h5, .sm-h5, .h5{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.lg-h6, .md-h6, .sm-h6, .h6{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.lg-h7, .md-h7, .sm-h7, .h7{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.lg-h8, .md-h7, .sm-h8, .h8{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

p{
  font-size: 18px;
}

.lg-p1, .md-p1, .sm-p1, .p1{
  font-size: 18px;
  font-weight: 400;
}

.lg-p2, .md-p2, .sm-p2, .p2{
  font-size: 16px;
  font-weight: 400;
}

.lg-p3, .md-p3, .sm-p3, .p3{
  font-size: 14px;
  font-weight: 400;
}

.lg-p4, .md-p4, .sm-p4, .p4{
  font-size: 12px;
  font-weight: 400;
}

section.purple{
  background: #F3F5FF;
}

section.detailInfo {

}

.logo-slim{
  display: none !important;
}


/*=============================================
=            menu            =
=============================================*/

#dropdown-menu ul a:not(.btn){
  color: #222222;
}

#dropdown-menu ul{
  flex-direction: column !important;
}

#dropdown-menu ul.direct{
  width: 194px;
}

#dropdown-menu ul.direct li{
  padding: 16px 0px;
}

#dropdown-menu ul.menu li{
  padding: 8px 0px;
}

#dropdown-menu .nav-menu {
  padding: 32px;
}

/*=====  End of menu  ======*/



/*[start] 1.1 button setting*/

a.special{
  padding: 0.6rem 1.8rem !important;
  border-radius: 80px;
  font-size: 22px !important;
}

a.normal{
  padding: 0.6rem 1rem !important;
  border-radius: 80px;
  font-size: 18px !important;
}

a.green{
  background: #219653;
  color: white;
}

a.green span{
  color: white;
  padding-left: 0.2rem;
}

a.white{
  background: white;
  color: #222222;
  border: 1px solid #222222;
}

a.text{
  text-decoration: underline;
  width: 25%;
}

a.content{
  background: #FFFFFF;
  border: 1px solid #909090;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 8px;
  color: #0000EE;
  width: 50%;
  padding: 8px;
  font-size: 18px;
}

a.content.sm{
  width: 35%;
}

a.content.highlight{
  /* Highlight color */
  background: #0000EE;
  border-radius: 8px;
  color: white;
  border: 0px;
}

/*[end] 1.1 button setting*/

/*[start] 1.2 banner setting*/
  .carousel-item img{
    object-fit: cover;
  }
/*[end]  1.2 banner setting*/

.row{
  margin-bottom: 50px;
}

.row.nSpace{
  margin-bottom: 0px;
}

button{
  padding-top: .6rem !important;
  padding-bottom: .6rem !important;
}

.navbar{
  padding: 1.5rem 3.2rem;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-evenly !important;
}

.nav-item{
  font-size: 18px;
  font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
}

header form button{
  font-weight: 700 !important;
  border-radius: 5rem !important;
}

button#analytics{
  padding: .6rem 2rem !important;
}

button#switchToMan{
  padding: .6rem 2rem !important;
}

.form-inline{
  justify-content: space-between !important;
  width: 100%;
}

.carousel, .carousel-item img{
  height: 1000px !important;
}

.container-fluid{
  padding: 100px !important;
}

#oversea .row:nth-child(2), #explore .row:nth-child(2){
  overflow-x: scroll;
  overflow-y: hidden;
}

#oversea .card,  #explore .card {
  width: 400px !important;
  height: 400px !important;
}

#oversea .row:nth-child(2) .col, #explore .row:nth-child(2) .col{
  min-width: 1700px !important;
  height: 480px;
  display: flex;
  justify-content: space-between;
}

#oversea a, #explore a{
  width: 400px !important;
  display: inline-block;
}

#newhome .card, #newhome .card img{
  height: 632px !important;
  object-fit: cover;
}

#newhome .card-img-overlay{
  top: 18rem;
  left: 5rem;
}

#newhome_more{
  background: white;
  font-size: 18px;
  color: #0000EE;
  font-weight: 700;
  padding: .6rem 3rem !important;
  border: 1px solid #0000EE, 100%;
}

#newhome .card-title{
  font-size: 48px;
  color: white;
  font-weight: 700;
}

#oversea .card img, #explore .card img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.card:hover .card-img-overlay{
  display: block;
  
}

#oversea .card-img-overlay, #explore .card-img-overlay{
  display: none;
  transition: 0.8s;
}

#oversea{
  margin-top: 80px;
}

.card-body{
  padding: 48px;
}

section#intro{
/* .product #intro{ */
  min-height: 832px;
}

section#intro h2{
  font-size: 48px;
}

.product section#intro .row{
  align-items: center;
  height: 832px;
}

.pricing section#intro .row{
  align-items: flex-start;
  padding-top: 86px;
}

#signup{
  background: #0000EE;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  padding: .6rem 6rem !important;
  margin-top: 56px;
}

.detailInfo .card{
  background: transparent;
  margin: 0px 16px;
}

.detailInfo .card:first-child{
  margin-left: 0px;
}

.detailInfo .card:last-child{
  margin-right: 0px;
}

.detailInfo .card .card-body{
  padding: 0;
}

.detailInfo .card-text{
  margin-top: 40px;
}

.detailPic img{
  width: 85%;
  object-fit: cover;
}

/*top menu bar*/
header{
  background: white;
}

#nav-btn{
  display: none;
}

.icon-container{
  display: flex;
  align-items: center;
}

.topnav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0px;
  box-shadow: 0px -8px 16px rgba(0,0,0,0.5);
}

.topnav ul a{
  color: #222222;
}

.navbar-nav{
  flex-direction: row !important;
  justify-content: space-between;
}

a.icon {
  padding: 8px;
}

.nav-menu-container .nav-menu{
  display: none;
}

.nav-menu-container.show .nav-menu{
  display: block;
}

.nav-menu ul{
  flex-direction: column;
}


/*=============================================
=                 Pricing page               =
=============================================*/

.pricing #intro .row > div{
  padding: 0px;
}

.pricing #intro .card{
  text-align: center;
}

.pricing .card{
  border: 0px;
}

.pricing .card-title{
  font-size: 26px;
  font-weight: 700;
}

.pricing .card:not(.highlight) .card-header{
  text-align: center;
  color: transparent;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  border: 0px;
}

.pricing .card.highlight .card-header{
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background: #5659CF;
}

.pricing .card.highlight .card-body{
  border: 4px solid #0000EE;
}

.pricing .card:not(.highlight) .card-body{
  border: 1px solid #909090;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}

.pricing ul.tick{
  text-align: left;
  padding: 16px;
  list-style: none;
  margin-top: 32px;
}

.pricing ul.tick li{
  display: flex;
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 0px;
}

.pricing ul.tick li:before{
  content: url(../images/tick.svg);
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  margin-right: 20px;
  width: 32px; /* same as padding-left set on li */
}

.pricing p.card-text {
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}


/*---------- start --> pricing table  ----------*/

.pricing-Table{
  width: 100vw;
}

.pricing-Trow{
  height: 86px;
  align-items: center;
}

.pricing-Theader{
  height: 86px;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}

.pricing-Theader.toRow{
  border-bottom: 0px;
}

.pricing-Theader > div:first-child{
  padding-top: 36px;
}

.pricing-Theader.toRow > div:first-child{
  padding-top: 0px;
}

.pricing-Theader, .pricing-Trow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.pricing-Theader > div, .pricing-Trow > div {
  width: 25%;
  text-align: center;
  min-height: 100%;
  border-right: 1px solid #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-Theader > div:last-child, .pricing-Trow > div:last-child {
  border-right: 0px;
}

.pricing-Theader > div:first-child, .pricing-Trow > div:first-child{
  text-align: left;
  justify-content: flex-start;
}

.pricing-Tattribute{
  padding-left: 36px;
}
/*---------- end -->  pricing table  ----------*/


/*---------- start --> qna  ----------*/
.qna:not(:first-child){
  margin: 32px 0px;
}

.qna .h2{
padding-bottom: 16px;
}
/*---------- end --> qna  ----------*/


/*=====  End of Pricing page  ======*/


/*=============================================
=            responsive layout            =
=============================================*/



/*----------  responsive -- xl size  ----------*/

@media screen and (min-width: 1367px){
  .lg-p1{
    font-size: 18px;
  }
  
  .lg-p2{
    font-size: 16px;
  }
  
  .lg-p3{
    font-size: 14px;
  }
  
  .lg-p4{
    font-size: 12px;
  }
  .lg-hero{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }

  .lg-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  .lg-h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

  .lg-h4{
    font-size: 22px;
    font-weight: 700;
  }

  .lg-h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .lg-h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .lg-h7{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .lg-h8{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  
  .navbar-nav.menu{
    width: 40vw;
  }

  .navbar-nav.direct{
    width: 21vw;
  }
}

/*----------  responsive -- lg size  ----------*/

@media screen and (max-width: 1366px){
  .pricing-Theader > div, .pricing-Trow > div {
    width: 20%;
  }

  .pricing-Theader > div:first-child, .pricing-Trow > div:first-child {
    width: 40%;
  }

  .container-fluid{
    padding: 90px !important;
  }

  .lg-p1{
    font-size: 18px;
  }
  
  .lg-p2{
    font-size: 16px;
  }
  
  .lg-p3{
    font-size: 14px;
  }
  
  .lg-p4{
    font-size: 12px;
  }
  .lg-hero{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }

  .lg-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  .lg-h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

  .lg-h4{
    font-size: 22px;
    font-weight: 700;
  }

  .lg-h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .lg-h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .lg-h7{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .lg-h8{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  
  #nav-btn{display: block;}
  ul.navbar-nav.menu {
    width: 50vw;
  }
  .topnav ul.direct{
    display: none;
  }
  .nav-menu-container.show .mobile{
    display: none!important;
  }
  .nav-menu-container.show .tablet{
    display: block!important;
  }
}

/*----------  responsive -- md size  ----------*/

@media screen and (max-width: 1024px){

  .container-fluid{
    padding: 54px !important;
  }

  .md-p1{
    font-size: 18px;
  }
  
  .md-p2{
    font-size: 16px;
  }
  
  .md-p3{
    font-size: 14px;
  }
  
  .md-p4{
    font-size: 12px;
  }
  .md-hero{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }

  .md-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  .md-h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

  .md-h4{
    font-size: 22px;
    font-weight: 700;
  }

  .md-h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .md-h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .md-h7{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .md-h8{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  
  .topnav{
    justify-content: space-between !important;
    padding: 25px 2rem!important;
  }

  .topnav ul.menu{
    display: none;
  }
  .nav-menu-container.show .mobile{
    display: block!important;
  }
  .nav-menu-container.show .tablet{
    display: none!important;
  }

  section#intro h2{
    font-size: 32px;
  }
}

/*----------  responsive -- sm size  ----------*/

@media screen and (max-width: 414px){
  .container-fluid{
    padding: 55px !important;
  }

  .sm-p1{
    font-size: 18px;
  }
  
  .sm-p2{
    font-size: 16px;
  }
  
  .sm-p3{
    font-size: 14px;
  }
  
  .sm-p4{
    font-size: 12px;
  }

  .sm-hero{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }

  .sm-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  .sm-h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }

  .sm-h4{
    font-size: 22px;
    font-weight: 700;
  }

  .sm-h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .sm-h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .sm-h7{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .sm-h8{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  
  section#intro{
    padding-top: 32px;
  }

  section#whatIsArical .col-lg-3.col-md-6.col-12 {
    margin: 32px 0px;
  }

  .product #section2 .col-lg-6 * {
    padding: 8px 0px;
  }

  .detailPic img{
    width: 100%;
  }

  #signup{
    margin-top: 36px;
  }
  .container-fluid{
    padding: 100px 16px !important;
  }

  .product #intro .row{
    height: 75vh !important;
    text-align: center;
  }

  .product #intro{
    min-height: 60vh;
  }
  
  .logo-slim{
    display: inline-block !important;
  }
  .logo-large{
    display: none !important;
  }
  .topnav{
    padding: 8px 16px !important;
    box-shadow: 0px -8px 16px rgba(0,0,0,0.5);
  }
  .product #intro h2{
    font-size: 32px;
  }
}